{{sticky-element/trigger offset=top enter=(action "parentTopEntered") exit=(action "parentTopExited")}}

<div class="sticky-element
  {{containerClassName}}
  {{if isSticky (concat " sticky-element--sticky " containerStickyClassName)}}
  {{if isStickyTop (concat " sticky-element--sticky-top " containerStickyTopClassName)}}
  {{if isStickyBottom (concat " sticky-element--sticky-bottom " containerStickyBottomClassName)}}"
  style={{containerStyle}}>

  {{yield
    (hash
      isSticky=isSticky
      isStickyTop=isStickyTop
      isStickyBottom=isStickyBottom
    )
  }}

</div>

{{#if stickToBottom}}
  {{sticky-element/trigger type="bottom" offset=offsetBottom enter=(action "parentBottomEntered") exit=(action "parentBottomExited")}}
{{/if}}
