<h1>ember-sticky-element</h1>

<div class="demo row">
  <div class="col small">
    {{#sticky-element class="sticky" as |sticky|}}

      <p>small, not sticky to bottom</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col small bottom">
    {{#sticky-element class="sticky" bottom=0 as |sticky|}}

      <p>small, sticky to bottom</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col small bottom">
    {{#sticky-element top=50 class="sticky" bottom=0 as |sticky|}}

      <p>small, sticky to bottom, with offset</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col large">
    {{#sticky-element class="sticky" as |sticky|}}

      <p>large, not sticky to bottom</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col large bottom">
    {{#sticky-element class="sticky" bottom=0 as |sticky|}}
      
      <p>large, sticky to bottom</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col small off">
    {{#sticky-element class="sticky" as |sticky|}}

      <p>small, not sticky to bottom, off view</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col small bottom off">
    {{#sticky-element class="sticky" bottom=0 as |sticky|}}

      <p>small, sticky to bottom, off view</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col small bottom off">
    {{#sticky-element top=50 class="sticky" bottom=0 as |sticky|}}

      <p>small, sticky to bottom, with offset, off view</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col large off">
    {{#sticky-element class="sticky" as |sticky|}}

      <p>large, not sticky to bottom, off view</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col large bottom off">
    {{#sticky-element class="sticky" bottom=0 as |sticky|}}

      <p>large, sticky to bottom, off view</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

  <div class="col xsmall bottom">
    {{#sticky-element class="sticky" bottom=0 as |sticky|}}

      <p>xsmall, sticky to bottom</p>
      <p class="debug">
        {{sticky-debug sticky}}
      </p>
    {{/sticky-element}}
  </div>

</div>

